.text-danger
	color color-danger
.text-danger-shade
	color color-danger-shade
.text-warning
	color color-warning
.text-warning-shade
	color color-warning-shade
.text-primary
	color color-primary
.text-primary-shade
	color color-primary-shade
.text-secondary
	color color-primary
.text-secondary-shade
	color color-primary-shade
.text-tertiary
	color color-tertiary
.text-tertiary-shade
	color color-primary-shade
.text-dark
	color color-dark
.text-dark-shade
	color color-dark-shade
.text-medium
	color color-medium
.text-medium-shade
	color color-medium-shade
.text-light
	color color-light
.text-light-shade
	color color-light-shade
