.btn
	background color-primary-tint
	color color-primary-contrast
	padding 8px 30px
	margin 5px
	font-weight bolder
	cursor pointer
	border-radius 10px

	&:disabled
		background-color color-dark-tint

	i
		margin 0 5px
